.repo-wrapper {
    background-color: #222222;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    min-height: 100px;
    color: #CA5353;
    height: 175px;
    overflow: auto;
}

.repo-container {
    text-decoration: none !important;
}

.repo-wrapper:hover {
    text-decoration: none;
    background-color: #333333;
}

.programming-language-img {
    border: 1px solid black;
    margin-top: 10px;
    top: 50px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}