.center {
    text-align: center;
}

.hidden {
    display: none;
}

.nav-link {
    padding: 10px;
    color: #FC6868;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nav-link:hover {
    color: #CA5353;
    text-decoration: none !important;
    border: 1px solid #CA5353;
}

.nav-link:visited {
    color: #CA5353;
    text-decoration: none !important;
}

.main-header {
    background:#FC6868;
    color:#fff !important;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 5px;
}

.main-header:before, .main-header:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #FC6868;
    transition:400ms ease all;
}

.main-header:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.main-header:hover:before, .main-header:hover:after {
    width:100%;
    transition:800ms ease all;
}

.main-header:hover {
    background:#fff;
    color:#FC6868;
}


.tab-container {
    padding: 15px;
}

.tab.active {
    background-color: #FC6868;
}

.tab {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.tab a {
    color: black;
    text-decoration: none !important;
}

.tab:hover {
    background-color: #CA5353;
}

.form-input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 3px;
    display: block;
}

.contribution-chart {
    margin: auto;
    max-width: 400px;
    max-height: 300px;
}

.profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.username-header {
    display: inline-block;
}

.legend-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    border: 1px solid gray;
}

.legend-header {
    display: block;
    margin: 5px;
}

span.first-profile-legend {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #4AB5EB;
    margin: auto;
}

span.second-profile-legend {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #FC6868;
    margin: auto;
}

.years-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    border: 1px solid gray;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.year-btn {
    color: black;
    border:0.1em solid black;
    background-color: #FC6868;
    margin: 5px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
}

.year-btn:hover {
    color: white;
    border:0.1em solid white;
}