.main-header {
    background:#0291DB;
    color:#fff !important;
    border:none;
    position:relative;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 5px;
}

.main-header:before, .main-header:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #0291DB;
    transition:400ms ease all;
}

.main-header:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.main-header:hover:before, .main-header:hover:after {
    width:100%;
    transition:800ms ease all;
}

.main-header:hover {
    background:#fff;
    color:#0291DB;
}

.send-button {
    padding: 7px;
    color: white;
    border-radius: 5px;
}

.send-button:hover {
    text-decoration: none;
    color:white;
}

.send-button.inactive {
    background-color: gray;
    border: 2px solid gray;
}

.send-button.inactive:hover {
    cursor: not-allowed;
}

.send-button.active {
    background-color: #61DAFB;
    border-radius: 5px;
    border: 2px solid #61DAFB;
}

.send-button.active:hover {
    border: 2px solid #0291DB;
}

.tab-container {
    padding: 15px;
}

.tab.active {
    background-color: #61DAFB;
}

.tab {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.tab a {
    color: black;
    text-decoration: none !important;
}

.tab:hover {
    background-color: #61DAFB;
}

.form-input {
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 3px;
    display: block;
}

.contribution-chart {
    margin: auto;
    max-width: 400px;
    height: 300px;
    margin-bottom: 85px;
}

.colored-react-chart {
    background-color: #EAEAEA;
}

.profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.profile-image-small {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    border: 2px solid black;
}

.username-header {
    display: inline-block;
}

.legend-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    border: 1px solid gray;
    color: #222222;
}

.legend-header {
    display: block;
    margin: 5px;
}

span.first-profile-legend {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #4AB5EB;
    margin: auto;
}

span.second-profile-legend {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #FC6868;
    margin: auto;
}

.years-container {
    padding: 5px;
    background-color: #eaeaea;
    max-width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.year-btn {
    color: black;
    border:0.1em solid black;
    background-color: #0291DB;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
}

.year-btn.active {
    background-color: #61DAFB;
}

.year-btn:hover {
    color: white;
    border:0.1em solid white;
}
