.repository-wrapper {
    max-width: 300px;
    background-color: #222222;
    border: 1px solid white;
    border-radius: 10px;
    color: white !important;
    margin: auto;
    padding-bottom: 10px;
}

.repository-pie-container {
    width: 50%;
    margin: auto;
}

.repository-contributor-wrapper {
    margin-top: 10px;
    background-color: #222222;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

.repository-contributor-link {
    margin-top: 10px;
    height: 200px;
    color: white !important;
    text-decoration: none !important;
}

.repository-contributor-wrapper:hover {
    background-color: #444444;
}

.commits-counter {
    color: gold;
}

.additions-counter {
    color: green;
}

.deletions-counter {
    color: red;
}