.search_container {
    background-color: #222222;
    border-radius: 10px;
    min-height: 70px;
    padding: 3px 10px 10px;
}

.label {
    color: white;
}

.search-btn {
    height: 40px;
    margin-top: -5px;
    margin-bottom: 0px;
    width: 33%;
}

.username-input {
    color: #222222;
    padding: 6px 10px;
    height: 40px;
    width: 33%;
    margin-top: 0px;
    margin-bottom: 5px;
}

.sorting-container {
    width: 33%;
    height: 40px;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
}