.tabs-container {
    background-color: #222222;
    width: 100%;
    border-radius: 10px;
}

.full-user-tab-container {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
}

.active {
    background-color: #61DAFB;
}

.inactive {    
    background-color: #0291DB;
}

.full-user-tab-container:hover {
    background-color: #61DAFB;
}