.follower-container {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    padding: 10px;
    border: 1px solid #222222;
    border-radius: 5px;
}

.follower-container:hover {
    background-color: #eeeeee;
}

.analyze-container {
    background-color: #eeeeee;
    width: 100%;
    min-height: 50px;
    border: 1px solid #222222;
    color: #222222;
    border-radius: 10px;
}

.sector-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}