.follower-container {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    padding: 10px;
    border: 1px solid #222222;
    border-radius: 5px;
}

.follower-container:hover {
    background-color: #eeeeee;
}