.profile {
    margin: 10px;
    border: 1px solid black;
    border-radius: 50px; 
    height: 400px;
    padding: 10px;
    cursor: pointer;
    display: block;
    background-color: #222222;
    text-decoration: none !important;
}

.profile:hover {
    background-color: #282828;
}

.username {
    color: white;
}

.details-container {
    border-radius: 30px;
    color: white;
    background-color: #444444;
    padding-top: 5px;
    padding-bottom: 5px;
}

.details-numbers-container {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.analyze-chart-wrapper {
    width: 200px;
    height: 200px;
}

.pie-container {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.chart-wrapper {
    display: inline-block;
    width: 50%;
    height: 100px;
}

.detail {
    margin-top: 5px;
}

.number-detail {
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.number-detail.gold {
    border: 1px solid black;
    background-color:#FFD700;
    color: black;
}

.number-detail.silver {
    border: 1px solid black;
    background-color: #C0C0C0;
    color: black;
}

.number-detail.bronze {
    border: 1px solid black;
    background-color: #CD7F32;
    color: black;
}

.number-detail.default {
    border: 1px solid white;
    background-color: black;
    color: white;
}